---
layout: base.njk
title: Work With Me
description: Get in touch to discuss your project and how we can collaborate.
---

<section class="py-16 bg-black">
  <div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-8">Work with Martin</h1>

    <form name="contact" method="POST" data-netlify="true">
        <p>
            <label>Name: <input type="text" name="name" /></label>
        </p>
        <p>
            <label>E-mail: <input type="email" name="email" /></label>
        </p>
        <p>
            <label>Message: <textarea name="message"></textarea></label>
        </p>
        {# honeypot field #}
        <p class="hidden">
            <label>
              Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
          </p>
        <p>
            <button type="submit">Send</button>
        </p>
        </form>


  </div>
</section>
