---
layout: base.njk
title: About
description: Learn about Martin Asturias's background, approach, and equipment as a director of photography.
---

<section class="py-16 bg-gray-50">
  <div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-8">About</h1>
    <div>
        <p>Martin is a seasoned director of photography with over 20 years of experience as an international and documentary shooter. His work showcases his specialized skills in accessing remote and sometimes dangerous locations, particularly in Latin America, but his versatile style applies to visual storytelling of all kinds.</p>
        <p>Martin has covered <b>[ I need a phrase here for cultural touchstone events, those things in the zeitgeist ]</b>, including the beaver infestation in Patagonia, Chile, Hurricane Maria in Florida, and Hurricane Harvey in Houston, Texas. He's covered the historic discoveries of Maya ruins in Central America, and explorations of modern-day Latin American culture.</p>
        <p>Whether it’s producing, editing, or capturing footage, Martin ensures that every aspect of a project is handled with precision and expertise.</p>
        <p>Martin's work has appeared across many reputable brands: Newsy, Scripps Media, Fox News, Vice News, Discovery Channel, the History Channel, Travel Channel, National Geographic Networks, Reuters, CNN, ABC, BET, CBS, NBC, and PBS, among others.</p>
      </div>
  </div>
</section>
